# node dependencies
/node_modules

# environmental variables file
.env

# Google App Engine config file
app.yaml

# Angular Distribution Folder
src/dist

# Data Folder
src/data

# System Files
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*